{% extends 'base.html' %}

{% block title %}Harcama Ekle{% endblock %}

{% block content %}
<div class="expense-container">
    <h1>Harcama Ekle</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error-message">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="Kaydet" class="btn-primary">
        </div>
    </form>
</div>
{% endblock %}
