{% extends 'base.html' %}

{% block title %}Harcama Listesi{% endblock %}

{% block content %}
<div class="expense-container">
    <h1>Harcama Listesi</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Tarih</th>
                <th>Kategori</th>
                <th>Tutar</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.date }}</td>
                <td>{{ expense.category.name }}</td>
                <td>{{ expense.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_expense' %}" class="btn-primary">Harcama Ekle</a>
</div>
{% endblock %}
